* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.top-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  flex-direction: column;
}

.calculator {
  background-color: #101116;
  padding: 2rem;
  color: #fff;
}

.display {
  /* background-color: #000; */
  /* color: #fff; */
  background-color: rgb(101, 98, 98);
  padding: 0.7rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.5rem;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}



.buttons-grid button:nth-child(24), .buttons-grid button:nth-child(6) {
  grid-column: span 2;
}
.buttons-grid button:nth-child(35) {
  grid-column: span 3;
}

button {
  padding: 0.7rem 1.3rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #262834;
  color: #fff;
}

.history {
  margin-top:3rem;
}

.normal-container {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  flex-direction: column; 
}

.normal-calculator {
  background-color: #101116;
  padding: 2rem;
  color: #fff;
}

.normal-buttons-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}

.table-resp {
  border-collapse: collapse;
  margin-left: 1em;
  min-width: 50vw;
}
.table-resp caption {
  text-align: left;
  width: 95vw;
}

@media (min-width: 768px) {
  .table-resp {
    margin-top: 3em;
    position: relative;
  }
  .table-resp caption {
    position: absolute;
    top: -2em;
    margin-bottom: 0.75em;
  }
  .table-resp thead {
    text-align: left;
    background-color: #333;
    color: white;
  }
  .table-resp td, .table-resp th {
    padding: 0.25em 0.5em;
  }
  .table-resp td:nth-child(2), .table-resp th:nth-child(2) {
    border-left: 3px solid #fff;
  }
}
@media (max-width: 767px) {
  thead {
    display: none;
  }

  .table-resp {
    display: block;
    margin-top: 1em;
  }

  td {
    display: block;
  }

  td:first-child {
    font-weight: 700;
    margin-top: 0.75em;
    margin-bottom: 0;
  }

  td:nth-child(2) {
    margin-top: 0;
  }
}
